/* ==========================================================================
  CSS Rules required to style the content like the font-color, background etc.
  Light Theme
   ========================================================================== */
@import url('http://fonts.googleapis.com/css?family=Lato');
html, body {
  font-family:'Lato', sans-serif;
  background: #77c9d4; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top,  #25c481, #25b7c4); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left top,  #25c481, #25b7c4); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left top,  #25c481, #25b7c4); /* For Firefox 3.6 to 15 */
  background: linear-gradient(left top,  #25c481, #25b7c4);
 
}

.header-container {
  background-color: #015249;
  border-bottom-color: white;
  color: rgba(255, 255, 255, 0.75);
}

.main-container {
  border-color: #bbb;
  color:#069;
}

.item-description {
  font-weight: bold;
  font-size: 125%;
  color:black;
}

.item table {
	color: #eee;
}

.form-item-container .button {
		color: black;
}

select {
  color: black;
}

table {
  border-color: #036;
}

table th{
  border-color: #036;
  background-color:  #036;
}

table td{
  border-color: #c69;
  background-color:  #c69;
}

input[type=submit]
{
    border-color: #eb6e80;
    background-color: #eb6e80;
    color: white;
}
input[type=submit]:hover
{
    background-color: #ef8d9b;
    border-color: #ef8d9b;
}
.subject-select-container
{
   border-color: #9099a2;
}
.subjectselect
{
   color: #9099a2;
   font-size: 1.35em;
   background-color: transparent;
   background-image: url("../img/Select.png");
   background-position: 87% center;
   background-repeat: no-repeat;
   -webkit-appearance: button;  
}
