/* ==========================================================================
  CSS Rules required to style the content like the font-color, background etc.
  Light Theme
   ========================================================================== */
@import url('http://fonts.googleapis.com/css?family=Lato');
html, body {
  font-family:'Lato', sans-serif;
  background-color: #e9ece5;
}

.header-container {
  background: #c0dfd9; /* For browsers that do not support gradients */
  color: rgba(255, 255, 255, 0.75);
}

.main-container {
  border-color: #bbb;
  color:#069;
}

.item-description {
  font-weight: bold;
  font-size: 125%;
  color:#3fb0ac;
}

.item table {
		color: #eee;
}

.form-item-container .button {
		color: black;
}

select {
  color: black;
}

table {
  border-color: #3b3a36;
}

table th{
  border-color: #3b3a36;
  background-color:  #3b3a36;
}

table td{
  color:#000;
  //background-color:  #b3c2bf;
}

input[type=submit]
{
    border-color: #eb6e80;
    background-color: #eb6e80;
    color: white;
}
input[type=submit]:hover
{
    background-color: #ef8d9b;
    border-color: #ef8d9b;
}
.subject-select-container
{
   border-color: #9ad3de;
}
.subjectselect
{
   color: #9ad3de;
   font-size: 1.35em;
   background-color: transparent;
   background-image: url("../img/Select.png");
   background-position: 87% center;
   background-repeat: no-repeat;
   -webkit-appearance: button;  
}