/* ==========================================================================
  CSS Rules required for a styling the sleek radio button
   ========================================================================== */
.css-radio .css-button label {
  font-size: 1.35em;
  color: #3b3a36;
}

.css-radio .css-button .css-button-label-container {
  border-color: transparent;
}

.css-radio .css-button:hover label {
  color: #3b3a36;
}

.css-radio .css-button:hover .css-button-label-container {
  border-color: #3b3a36;
}

.css-radio .css-button input[type=radio]:checked ~ .css-button-label-container {
  border-color: #9ad3de;
}

.css-radio .css-button input[type=radio]:checked ~ .css-button-label-container label {
  color: #9ad3de;
}
